/* validata */
/* Mixins */
.cleart {
  clear: both;
}
/* ==================== ALL ==================*/
@font-face {
  font-family: 'SFUFuturaBook';
  src: url('../fonts/SFUFuturaBook_0.TTF');
}
@font-face {
  font-family: 'SFUFuturaBold';
  src: url('../fonts/SFUFuturaBold_0.TTF');
}
html,
body {
  background-color: #fff;
}
h2.title {
  display: inline-block;
  font-family: 'SFUFuturaBold', Arial, sans-serif;
  font-size: 18px;
  color: #1fb8ea;
  margin: 0;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
}
h2.title a {
  color: #ffffff;
  text-decoration: none;
}
.block {
  display: block !important;
}
/* ==================== header =============== */
header {
  background-color: #ffffff;
  text-align: left;
  width: 100%;
  min-height: 50px;
  height: auto;
  padding: 10px 0;
}
header .logo img {
  max-width: 400px;
  max-height: 300px;
}
.navigation {
  padding-left: 0;
  padding-right: 0;
  background-color: #ebebeb;
}
.navigation .navbar {
  min-height: 20px;
  margin-bottom: 0px;
}
.navigation .navbar .navbar-nav {
  display: inline-block;
  float: none;
}
.navigation .navbar .navbar-collapse {
  text-align: center;
}
.navigation .navbar-default {
  background-color: #ebebeb;
  border-color: #ebebeb;
}
.navigation .navbar-collapse {
  padding-left: 0;
}
.navigation .navbar-default .navbar-nav > .active > a,
.navigation .navbar-default .navbar-nav > .active > a:hover,
.navigation .navbar-default .navbar-nav > .active > a:focus {
  color: #000;
  background-color: #ebebeb;
}
.navigation .navbar-default .navbar-nav > li > a {
  color: #000;
  font-family: 'SFUFuturaBold', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  margin: 5px 0;
  padding: 5px 10px;
  border: 1px solid #ebebeb;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.navigation .navbar-default .navbar-nav > li:hover > a {
  background-color: #ebebeb;
  color: #1fb8ea;
  border: 1px solid #1fb8ea;
}
.navigation .navbar-form input.form-control {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  height: 31px;
}
.navigation .navbar-collapse.in {
  overflow-y: visible;
}
.menu-fixed {
  position: fixed;
  z-index: 99999;
  width: 100%;
  top: 0;
}
/*===================== slider ==================== */
.slider .carousel-inner > .item > img,
.slider .carousel-inner > .item > a > img {
  line-height: 1;
  margin: 0 auto;
  width: 100%;
  max-height: 550px;
}
.slider .carousel-control.right,
.slider .carousel-control.left {
  background: none;
}
/*===================== about ==================== */
section.about {
  background-color: #fff;
  min-height: 300px;
  padding: 20px 0;
  text-align: center;
  font-family: 'SFUFuturaBook', Arial, sans-serif;
}
section.about h3,
section.about a {
  font-family: 'SFUFuturaBold', Arial, sans-serif;
  color: #000;
}
/*===================== projects ==================== */
.products-hot {
  margin: 10px 0;
}
.products-hot .nav-tabs {
  border-bottom: 5px solid #ebebeb;
  margin-bottom: 10px;
}
.products-hot .nav-tabs > li > a {
  padding: 10px;
  color: #919191;
  font-family: 'SFUFuturaBold', Arial, sans-serif;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: 0px solid #ddd;
}
.products-hot .nav-tabs > li.active > a,
.products-hot .nav-tabs > li.active > a:hover,
.products-hot .nav-tabs > li.active > a:focus {
  font-family: 'SFUFuturaBold', Arial, sans-serif;
  background-color: #1fb8ea;
  color: #ffffff;
  border: 0px solid #1fb8ea;
  border-right: 1px solid #ebebeb;
}
.products-hot .nav > li > a:hover,
.products-hot .nav > li > a:focus {
  color: #ddd;
  font-family: 'SFUFuturaBold', Arial, sans-serif;
  background-color: #fff;
}
.products-hot .project-item {
  padding: 1px;
  margin: 0px;
}
.products-hot .project-item div.img {
  background-color: #fff;
  position: relative;
  height: 350px;
  overflow: hidden;
  font-family: 'SFUFuturaBook', Arial, sans-serif;
  font-size: 15px;
  text-align: center;
  padding-top: 50px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.08);
}
.products-hot .project-item div.img img {
  width: auto;
  max-height: 150px;
}
.products-hot .project-item div.img h3 {
  font-size: 15px;
  font-family: 'SFUFuturaBold', Arial, sans-serif;
}
.products-hot .project-item div.img p.price {
  font-family: 'SFUFuturaBold', Arial, sans-serif;
  color: red;
}
.products-hot .project-item div.title {
  position: absolute;
  bottom: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 100%;
  height: 100%;
  padding: 20px 10%;
  background-color: rgba(31, 184, 234, 0.69);
  text-align: left;
  color: #ffffff;
  font-family: 'SFUFuturaBook', Arial, sans-serif;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.products-hot .project-item div.title a {
  color: #ffffff;
}
.products-hot .project-item div.title a i {
  font-style: 20px;
}
.products-hot .project-item div.title h3 {
  font-size: 18px;
  text-align: center;
  margin: 0;
}
.products-hot .project-item div.title p {
  margin: 10px 0;
}
.products-hot .project-item div.title a.more {
  padding: 5px;
  background-color: red;
  color: #ffffff;
}
.products-hot .project-item div.title p.price {
  font-family: 'SFUFuturaBold', Arial, sans-serif;
  color: #ffffff;
}
.products-hot .project-item:hover div.title {
  opacity: 1;
  filter: alpha(opacity=100);
}
.products-category h2.title {
  display: inline-block;
  background-color: #1fb8ea;
  color: #ffffff;
  font-family: 'SFUFuturaBold', Arial, sans-serif;
  font-size: 18px;
  border-bottom: 5px solid #1fb8ea;
}
.products-category .nav-tabs {
  border-bottom: 5px solid #ebebeb;
  margin-bottom: 10px;
}
.products-category .nav-tabs > li > a {
  padding: 10px;
  color: #919191;
  font-family: 'SFUFuturaBold', Arial, sans-serif;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: 0px solid #ddd;
  border-bottom: 4px solid #ffffff;
}
.products-category .nav-tabs > li.active > a,
.products-category .nav-tabs > li.active > a:hover,
.products-category .nav-tabs > li.active > a:focus {
  font-family: 'SFUFuturaBold', Arial, sans-serif;
  background-color: #ffffff;
  color: #1fb8ea;
  border: 0px solid #1fb8ea;
  border-bottom: 4px solid #1fb8ea;
}
.products-category .nav > li > a:hover,
.products-category .nav > li > a:focus {
  color: #ddd;
  font-family: 'SFUFuturaBold', Arial, sans-serif;
  background-color: #fff;
}
.products-category .project-item {
  padding: 1px;
  margin: 0px;
}
.products-category .project-item div.img {
  background-color: #fff;
  position: relative;
  height: 350px;
  overflow: hidden;
  font-family: 'SFUFuturaBook', Arial, sans-serif;
  font-size: 15px;
  text-align: center;
  padding-top: 50px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.08);
}
.products-category .project-item div.img img {
  width: auto;
  max-height: 150px;
}
.products-category .project-item div.img h3 {
  font-size: 15px;
  font-family: 'SFUFuturaBold', Arial, sans-serif;
}
.products-category .project-item div.img p.price {
  font-family: 'SFUFuturaBold', Arial, sans-serif;
  color: red;
}
.products-category .project-item div.title {
  position: absolute;
  bottom: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 100%;
  height: 100%;
  padding: 20px 10%;
  background-color: rgba(31, 184, 234, 0.69);
  text-align: left;
  color: #ffffff;
  font-family: 'SFUFuturaBook', Arial, sans-serif;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.products-category .project-item div.title a {
  color: #ffffff;
}
.products-category .project-item div.title a i {
  font-style: 20px;
}
.products-category .project-item div.title h3 {
  font-size: 18px;
  text-align: center;
  margin: 0;
}
.products-category .project-item div.title p {
  margin: 10px 0;
}
.products-category .project-item div.title a.more {
  padding: 5px;
  background-color: red;
  color: #ffffff;
}
.products-category .project-item div.title p.price {
  font-family: 'SFUFuturaBold', Arial, sans-serif;
  color: #ffffff;
}
.products-category .project-item:hover div.title {
  opacity: 1;
  filter: alpha(opacity=100);
}
.news h2.title {
  display: inline-block;
  background-color: #1fb8ea;
  color: #ffffff;
  font-family: 'SFUFuturaBold', Arial, sans-serif;
  font-size: 18px;
  border-bottom: 5px solid #1fb8ea;
}
.news .nav-tabs {
  border-bottom: 5px solid #ebebeb;
  margin-bottom: 10px;
}
.news div.img {
  padding: 10px;
}
.news div.img img {
  width: 100%;
  height: auto;
}
.news div.img h3 {
  text-align: center;
  font-size: 15px;
  font-family: 'SFUFuturaBold', Arial, sans-serif;
}
.news div.img h3 a {
  color: #000;
}
/*===================== footer =====================*/
footer {
  background-color: #ebebeb;
  color: #ffffff;
}
footer .footer-top {
  padding: 20px 0;
  color: #000;
  font-family: 'SFUFuturaBook', Arial, sans-serif;
}
footer .footer-top h2 {
  font-size: 15px;
  margin: 5px 0;
  font-family: 'SFUFuturaBold', Arial, sans-serif;
}
footer .footer-bottom {
  background-color: #1fb8ea;
}
footer .footer-bottom p {
  margin: 0;
  padding: 5px;
}
/*===================== cart =====================*/
.post {
  background-color: #fff;
}
.post .title {
  display: block;
  margin-bottom: 10px;
}
.post .container {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 10px;
}
/*===================== cart =====================*/
.form-control,
.btn,
.navbar,
.thumbnail,
.dropdown-menu,
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.dropdown:hover > .dropdown-menu {
  display: block;
  margin-top: 0;
}
.btn-group:hover > .dropdown-menu {
  display: block;
  margin-top: 0;
}
#addcart {
  background-color: #1fb8ea;
  border: 1px solid #1fb8ea;
  padding: 10px;
  display: block;
}
col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}



  .fb_iframe_widget_fluid span, .fb_iframe_widget iframe {
    width:100% !important;
  }
  .post {
    background-color: #fff;
    min-height: 140px;
    padding-bottom: 5px;
    padding:20px;
    overflow: hidden;
  }
  .detail_product_quantity_main {
        margin-bottom: 10px;
        overflow:hidden;
  }

  .detail_product_quantity_main .text_title {
        padding-top: 10px;
        float: left;
        width: 80px;
  }

  .detail_product_quantity_main .addtocart_quantity {
      padding: 3px 0 0 3px;
      float: left;
  }

  .fl {
      float: left;
  }

  .detail_product_quantity_main .addtocart_quantity .btn {
      background: #EEE;
      border: solid 1px #E5E5E5;
      cursor: pointer;
      font-weight: bold;
      font-size: 14px;
      outline: none;
      height: 27px;
      width: 27px;
      text-align: center;
      border-radius: 0px;
      line-height: 14px;
  }

  .detail_product_quantity_main .addtocart_quantity .form_control {
      border-left: none;
      border-right: none;
      background: #FFF;
      font-weight: bold;
      height: 27px;
      padding: 0;
      text-align: center;
      width: 70px;
      border: 1px solid #eee;
  }
  .btn-cart {
    padding:20px 30px;
    color:#F16D1F;
    border:1px solid #F16D1F;
    background-color:#fff;
    display:inline-block;
    font-style:18px;
  }

  a.btn-cart:hover
  {
    background-color:#F16D1F;
    color:#fff;
  }
  .sp-large a img {
      max-width: 100%;
      height:auto;
      max-height: 500px;
  }

